* {
    margin: 0;
    padding: 0;
}

.ımg {
    margin: 4rem 4rem;
}

.ımg img {
    width: 350px;
    height: 550px;
    border: 1px rgb(182, 169, 169) solid;
    padding: 1rem;
    border-radius: 14px;
    transition: 0.5s all;

}

.ımg img:hover {
    transform: scale(1.05);
}

.Alltext {
    margin: 4.5rem 0rem;
    max-width: 400px;
}

.textArea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.textArea h4,
h3,
p {
    margin: .8rem 0rem;
}

.textArea h4 {
    font-size: 32px;
    color: green;
}


.btn button {
    margin-top: 3rem;
    padding: 0.8rem;
    border: 1px solid rgb(151, 145, 145);
    background-color: lightgray;
    font-size: 20px;
    border-radius: 12px;
    transition: ease .5s;
}

.btn button:hover {
    background-color: green;
    color: aliceblue;
}